<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dc.dao.CmsCompanyDao">
     <!--添加公司信息-->
    <insert id="insertCompany" parameterType="com.dc.pojo.CmsCompany" useGeneratedKeys="true" keyProperty="company_id">
        insert into
        t_cms_company(user_id,company_name,company_alias,company_address,company_logo,companyType_id,industry,company_scale,company_introduce,company_balance,is_deleted)
        values
          (#{user_id},#{company_name},#{company_alias},#{company_address},#{company_logo},#{companyType_id},#{industry},#{company_scale},#{company_introduce},0,0)
    </insert>

    <insert id="statisticsCompany" parameterType="com.dc.pojo.CmsCompany">
            insert into
            t_cms_statistics(user_id,company_name,Statistics_amount,Statistics_turnover,Statistics_recruit,is_deleted)
            values
            (#{user_id},#{company_name},0,0,0,0)
    </insert>
    <!--修改公司信息-->
    <update id="updateCompany" parameterType="com.dc.pojo.CmsCompany">
        update t_cms_company set
        <if test="company_name != null">
            company_name = #{company_name},
        </if>
        <if test="company_alias != null">
            company_alias = #{company_alias},
        </if>
        <if test="company_address != null">
            company_address = #{company_address},
        </if>
        <if test="companyType_id != null">
            companyType_id = #{companyType_id},
        </if>
        <if test="companyType_id != null">
            companyType_id = #{companyType_id},
        </if>
        <if test="industry != null">
            industry = #{industry},
        </if>
        <if test="company_scale != null">
            company_scale = #{company_scale},
        </if>
        <if test="company_introduce != null">
            company_introduce = #{company_introduce},
        </if>
        <if test="company_balance != null">
            company_balance = #{company_balance},
        </if>
        <if test="company_logo != null">
            company_logo = #{company_logo},
        </if>
        is_deleted=0
        where company_id=#{company_id}
    </update>

       <!--逻辑删除公司信息-->
    <update id="deleteCompany" parameterType="String">
        update t_cms_company set is_deleted = 1 where company_id in(${ids})
        </update>
     <!--根据用户id或公司id查询公司信息-->
    <select id="selectCompany" resultType="com.dc.pojo.CmsCompany">
        select * from  t_cms_company  where is_deleted=0
        <if test="user_id != null and user_id != 0">
            and user_id = #{user_id}
        </if>
        <if test="company_id != null and company_id != 0">
            and company_id = #{company_id}
        </if>
    </select>
      <!--分页查询公司信息-->
    <select id="selectCompanyAllByPage" parameterType="map" resultType="com.dc.pojo.CmsCompany">
        select * from t_cms_company where is_deleted=0
        <if test="likeName!=null">
            and `company_name` like concat('%',#{likeName},'%')
        </if>
        <if test="likeName1!=null">
            and `company_alias` like concat('%',#{likeName1},'%')
        </if>
    </select>
</mapper>